body{
    text-align: center;
    background: radial-gradient(69.65% 61.69% at 12.5% 52.05%, rgba(41, 66, 112, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    ,radial-gradient(42.07% 41.13% at 90% 48.85%, rgba(249, 70, 3, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%)
    ,radial-gradient(59.37% 52.58% at 29.76% 1.36%, rgba(249, 70, 3, 0.246) 0%, rgba(255, 255, 255, 0.6) 33.07%);
  
    font-family: 'Epilogue', sans-serif;
}

a{
    text-decoration: none;

color: #3A3A3A;
}

nav{
    /* border: 1px solid red; */
    justify-content: space-between;
    width:100% ;
    
    display: flex;
    align-items: center;
    font-family: 'Epilogue', sans-serif;
}
nav .logo{
    width: 8%;
}
nav .logo img{
    width: 70%;
    height: 70%;
}
nav .button .white{
    background-color: #ffffff;
    color: #294270;
}
nav .button  .blue a{
    color: #ffffff;
    background-color: #294270;
}
.navline{
    border: 1px solid #294270;
    width: 100%;

}
nav .button{
    text-align: right;
    
    
    width: 20%;
    /* border: 1px solid red; */
}
nav button{
    
    padding: 10px;
    color: white;
    background-color:#294270;
    border-radius: 10.3579px;
    border: none;
    cursor: pointer;
}

nav .links{
    display: flex;
    align-items: center;
    width: 70%;
}
nav ul{
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-around;
    cursor: pointer;
   
    
    /* border: 1px solid red; */
}
button{
    
    padding: 10px;
    color: white;
    background-color:#294270;
    border-radius: 10.3579px;
    border: none;
    cursor: pointer;
}
.nocolor{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background:#FFFFFF;
}

.aboutcontainer{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    
}

.about{
    width: 100%;
    margin: 0 auto;
}
.about .imagecontainer{
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
}
.about .imagecontainer img{
    width: 100%;
    height: 100%;
}
.aboutimage{
   
  
    justify-content: space-between;
  
    width: 90%;
    margin: 0 auto;
    
    margin-top: 100px;
    display: flex;
    align-items: center;
}
 .aboutimage p{
    width: 45%;
    font-family: 'Epilogue', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 120%;


text-align: justify;
color: #3A3A3A;

}
.aboutimage .imagecontainer{
    width: 50%;
 }

.aboutimage .imagecontainer img{
    width: 100%;
    height: 100%;
}

 p{
    font-family: 'Epilogue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 120%;
/* or 48px */

text-align: center;

/* Foundation /Grey/Normal */

color: #3A3A3A;

}
h1{
    font-family: 'Epilogue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 120%;
/* identical to box height, or 96px */

text-align: center;

/* Foundation /Blue/Normal */

color: #294270;

}

 .numbers{
    margin-top:40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #FFFFFF;
border: 1px solid #BDC4D3;
padding: 16px;

box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
border-radius: 30px;
}
.numbers h3{
    font-family: 'Epilogue', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 120%;


text-align: center;


color: #3A3A3A;
}
.mission{
    display: grid;
   
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
 .mission .values p{
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* font-size: 20px; */
    line-height: 120%;
  
    text-align:left;
    
    /* Foundation /Grey/Normal */
    
    color: #3A3A3A;
    
}
.boardimage{
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
    
}
.boardimage .boardpics{
    /* border: 1px solid red; */
    width: 100%;
    
}

.boardimage .aboutboard img{
    width: 300px;
    height:300px;
    object-fit: cover;
   
}
.newsletter{
    background: #FFFFFF;
    margin-top: 5%;
    padding: 16px;
    


border: 1px solid #BDC4D3;

box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
border-radius: 31.875px;
}
.newsletter .text{
    /* border: 1px solid red; */
    width: 49%;
    text-align: justify ;
   
}
.newsletter p{
    font-family: 'Epilogue', sans-serif;
font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 120%;
text-align: justify;



color: #C2C2C2;
}
.newsletter .text h2{
    font-family: 'Epilogue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 120%;

color: #3A3A3A;
}

.newsletter form{
    text-align: right;
}
.newsletter input{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #294270;
}

@media screen and (max-width:1000px) {

    .boardimage{
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 20px;
    }
}
@media screen and (max-width:900px) {

    .mission{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
     .numbers{
        margin-top:40px;
        display: grid;
        grid-template-columns:1fr 1fr;
        background: #FFFFFF;
    border: 1px solid #BDC4D3;
    
    
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    }
    .aboutimage{
  
      
      
        width: 100%;
        margin: 0 auto;
        
        margin-top: 100px;
        flex-direction: column;
      
    }
    .aboutimage p{
        width: 100%;
        font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    
    
    text-align: center;
    color: #3A3A3A;
    
    }
    .aboutimage .imagecontainer{
        width: 50%;
    
    }
  
    
}
@media screen and (max-width:700px) {
    .boardimage{
        display: grid;
        grid-template-columns:  1fr ;
        gap: 20px;
    }
    



}
@media screen and (max-width:600px) {
    .Footer .top{
        display: flex;
        flex-direction: column;
    }
}


.Footer{
   
    width: 100%; 
    background: #E6EDEF;
    margin-bottom: 10px;
    margin-top: 100px;
  
    
   
    
  
  
} 

.Footer .logoform{
/* border: 1px solid red; */
    width: 30%;
}
.Footer .logoform  .socials{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 30px;


    
}

.Footer .logoform  .socials img{
    width: 20%;
 
    /* border: 1px solid red   ; */
}
.Footer .logoform input{
    padding: 10px;
    background: #FEFEFE;
    border-radius: 30px;    
    border: none;
    width: 80%;
}


.top{
    display: flex;
     
    width:100%;

    padding: 10px;
    text-align: justify;
    align-items: center;
    
    
    justify-content: space-between;
}

.Footer .under{
   width: 100%;
   /* border: 1px solid red; */

}
.Footer .top h5{
    width: 100%;
    /* border: 1px solid red; */
    /* font-size: 150%;
    font-weight: 800; */
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    
    
    text-align: justify;
    
    color: #294270;
}
.Footer .top h6{
    /* width: 100%; */
    /* border: 1px solid red; */
    /* font-size: 100%;
    font-weight: 800;
  */
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 120%;
  text-align: justify;
}   

.Footer .under img{
    width: 100%;

}

.Footer .container{
   /* border: 1px solid red; */
   margin: 0 auto;
    padding: 10px;  
    text-align: justify;
  width: 90%;

}
.Footer .Company{
    width: 25%;
    /* border: 1px solid red; */
}
.Footer .Products{
    width: 25%;
}
.Footer .footerbutton{
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid red; */
    width: 15%;
    
    padding: 5px;
}
.Footer .footerbutton button{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #294270;
    border: none;
    margin-bottom: 10%;
    border-radius: 10px;
    cursor: pointer;

}
.Footer>.footerbutton>button>.white{
    padding: 10px;
    color:  #294270;
    background-color: white;
    border: none;
    margin-bottom: 10%;
    border-radius: 10px;
    cursor: pointer;
}


    
  
