body{
    text-align: center;
    background: radial-gradient(69.65% 61.69% at 12.5% 52.05%, rgba(41, 66, 112, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    ,radial-gradient(42.07% 41.13% at 90% 48.85%, rgba(249, 70, 3, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%)
    ,radial-gradient(59.37% 52.58% at 29.76% 1.36%, rgba(249, 70, 3, 0.246) 0%, rgba(255, 255, 255, 0.6) 33.07%);
  
    font-family: 'Epilogue', sans-serif;
}

a{
    text-decoration: none;

color: #3A3A3A;
}

nav{
    /* border: 1px solid red; */
    justify-content: space-between;
    width:100% ;
    
    display: flex;
    align-items: center;
    font-family: 'Epilogue', sans-serif;
}
nav .logo{
    width: 8%;
}
nav .logo img{
    width: 70%;
    height: 70%;
}
nav .button .white{
    background-color: #ffffff;
    color: #294270;
}
nav .button  .blue a{
    color: #ffffff;
    background-color: #294270;
}
.navline{
    border: 1px solid #294270;
    width: 100%;

}
nav .links{
    display: flex;
    width: 70%;
    align-items: center;
}

nav .button{
    text-align: right;
    
    
    width: 20%;
    /* border: 1px solid red; */
}
nav button{
    
    padding: 10px;
    color: white;
    background-color:#294270;
    border-radius: 10.3579px;
    border: none;
    cursor: pointer;
}


nav ul{
    list-style: none;
    display: flex;
    width: 70%;
    justify-content: space-around;
    cursor: pointer;
    /* border: 1px solid red; */
   
}


.forumcontainer{
    margin: 0 auto;
    display: flex;
    width: 90%;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.forumcontainer .groups input{
    padding: 6px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border: 1px solid #294270;
    outline: none;
    width: 40%;
}
.forumcontainer .groups select{
    display: inline;
    padding: 5px;

    border: 1px solid #294270;
   
    width: 20%;
    
}
.forumcontainer .popular {
    width: 30%;
    display: grid;
    grid-template-columns: 1fr;

   
    gap: 40px;



}
.content{
    display: grid;
    grid-template-columns: 1fr;
    background: #FFFFFF;
    width: 90%;
    
   


border: 0.649682px solid #BDC4D3;
box-shadow: 0px 9.74522px 19.4904px rgba(0, 0, 0, 0.1);
border-radius: 6.49682px;
padding: 10px;
}
.tags{
    display: flex;
    align-items: center;
   
   
        /* border: 1px solid red; */
        width: 100%;
}
.tags .tagimage{
    width: 15%;
    
    /* border: 1px solid red; */
}
.tags  .tagimage img{
    width: 100%;
    height: 100%;
}
.tags .tagstext{
    text-align: justify;
}


.groups{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr ;
 gap: 30px;
}
.forumcontainer .groups .container{
    width:100%;
    background: #FFFFFF;
border: 1.41084px solid #DEE0E1;
box-shadow: 0px 1.41084px 1.41084px rgba(0, 0, 0, 0.04);
border-radius: 4.23252px;
padding: 10px;
}

.forumcontainer .groups .groupimagecontainer{
    display: flex;
    width: 100%;
    padding: 10px;
    align-items: center;
    text-align: left;
    
}
.forumcontainer .groups .groupimagecontainer .groupimagetext{
    margin-left: 20px;
    width: 65%;
    text-align: justify;
}                                                                               
.forumcontainer .groups .groupimagecontainer .groupimage{
    width: 10%;
    height: 10%;
}
.forumcontainer .groups .groupimagecontainer .groupimage img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.forumcontainer .groups .grouptext h3{
     text-align: justify;
    font-family: 'Epilogue', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 120%;
/* or 38px */


color: #282829;


}
.forumcontainer .groups .grouptext{
    width: 100%;
    /* border: 1px solid red; */
}

.forumcontainer .groups .grouptext h4{
   text-align: justify;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    /* or 32px */
    
   
    align-items: center;
    
    color:grey
}
.forumcontainer .groups .grouptext .image{ 
    display: flex;
    /* border: 1px solid red; */
    width: 60%;
    /* border: 1px solid red; */
    justify-content: space-between;
}
.forumcontainer .groups .grouptext p{
    text-align: justify;
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    /* or 32px */
    

    align-items: center;
    
    color:grey
}
.forumcontainer .groups .grouptext .image div{  
    display: flex;
    width: 20%;
    align-items: justify;
    cursor: pointer;
    /* border: 1px solid red; */
    justify-content: space-around;
    
}
.forumcontainer .groups .grouptext .image div img{ 
    /* border: 1px solid red; */

width: 30%;
 }
.forumcontainer .buttoncontainer{
    margin: 50px auto;
 
    text-align: center;
}
.forumcontainer .buttoncontainer button {
    background-color: transparent;
    color: #9E9E9E;
    border: none;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;

}    
.forumcontainer .buttoncontainer button:hover{
    background-color: #294270;
    color: #ffffff
}
.forumcontainer .groups .container .bigimage { 
    width: 100%;
    /* border: 1px solid red; */
    padding: 0;
}
.forumcontainer .groups .container .bigimage img{
    width: 100%;
    /* border: 1px solid red; */
}


.heading{
    width: 100%;
    margin: 0 auto;
    text-align:center;
}
.heading h2{
  
    font-family: 'Epilogue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;


color: #294270;
}

.Footer{
   
    width: 100%; 
    background: #E6EDEF;
    margin-bottom: 10px;
    margin-top: 100px;
  
    
   
    
  
  
} 

.Footer .logoform{
/* border: 1px solid red; */
    width: 30%;
}
.Footer .logoform  .socials{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    margin-bottom: 30px;


    
}

.Footer .logoform  .socials img{
    width: 20%;
 
    /* border: 1px solid red   ; */
}
.Footer .logoform input{
    padding: 10px;
    background: #FEFEFE;
    border-radius: 30px;    
    border: none;
    width: 80%;
}


.top{
    display: flex;
     
    width:100%;

    padding: 10px;
    text-align: justify;
    align-items: center;
    
    
    justify-content: space-between;
}

.Footer .under{
   width: 100%;
   /* border: 1px solid red; */

}
.Footer .top h5{
    width: 100%;
    /* border: 1px solid red; */
    /* font-size: 150%;
    font-weight: 800; */
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    
    
    text-align: justify;
    
    color: #294270;
}
.Footer .top h6{
    /* width: 100%; */
    /* border: 1px solid red; */
    /* font-size: 100%;
    font-weight: 800;
  */
  font-family: 'Epilogue', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 120%;
  text-align: justify;
}   

.Footer .under img{
    width: 100%;

}

.Footer .container{
   /* border: 1px solid red; */
   margin: 0 auto;
    padding: 10px;  
    text-align: justify;
  width: 90%;

}
.Footer .Company{
    width: 25%;
    /* border: 1px solid red; */
}
.Footer .Products{
    width: 25%;
}
.Footer .footerbutton{
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid red; */
    width: 15%;
    
    padding: 5px;
}
.Footer .footerbutton button{
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #294270;
    border: none;
    margin-bottom: 10%;
    border-radius: 10px;
    cursor: pointer;

}
.Footer>.footerbutton>button>.white{
    padding: 10px;
    color:  #294270;
    background-color: white;
    border: none;
    margin-bottom: 10%;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .forumcontainer{
        flex-direction: column-reverse;
        width: 100%;
    }  
    .forumcontainer .popular{
    width: 100%;
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   }
   .groups{
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr ;
 gap: 30px;
    }
    .forumcontainer .groups .container{
        width:75%;
        background: #FFFFFF;
    border: 1.41084px solid #DEE0E1;
    box-shadow: 0px 1.41084px 1.41084px rgba(0, 0, 0, 0.04);
    border-radius: 4.23252px;
    padding: 10px;
    }
    .bigimage{
        width:75%;
    }
    
   
}
@media screen and (max-width:600px) {
    .Footer .top{
        display: flex;
        flex-direction: column;
    }
}