p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* or 38px */

  text-align: justify;

  color: #000000;
}
body {
  padding: 10px;
  text-align: center;
  background: white;

  font-family: "Epilogue", sans-serif;
}

a {
  text-decoration: none;

  color: #3a3a3a;
}

nav {
  /* border: 1px solid red; */
  justify-content: space-between;
  width: 100%;

  display: flex;
  align-items: center;
  font-family: "Epilogue", sans-serif;
}
nav .logo {
  width: 8%;
}
nav .logo img {
  width: 70%;
  height: 70%;
}
nav .button .white {
  background-color: #ffffff;
  color: #294270;
}
nav .links {
  display: flex;
  width: 70%;
  align-items: center;
}

nav .button .blue a {
  color: #ffffff;
  background-color: #294270;
}
.navline {
  border: 1px solid #294270;
  width: 100%;
}
nav .button {
  text-align: right;

  width: 20%;
  /* border: 1px solid red; */
}
nav button {
  padding: 10px;
  color: white;
  background-color: #294270;
  border-radius: 10.3579px;
  border: none;
  cursor: pointer;
}

nav button > a {
  color: white !important;
}

.link-button {
  color: white !important;
}

nav ul {
  list-style: none;
  display: flex;
  width: 70%;
  justify-content: space-around;
  cursor: pointer;

  /* border: 1px solid red; */
}
button {
  padding: 10px;
  color: white;
  background-color: #294270;
  border-radius: 10.3579px;
  border: none;
  cursor: pointer;
}

.trainingtop {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  align-items: center;
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
}
.trainingtop .topimage {
  width: 40%;
}
.trainingtop .topimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainingtop .toptext {
  text-align: left;
  width: 50%;
}

.newsletter {
  background: #ffffff;
  margin-top: 5%;
  padding: 16px;

  border: 1px solid #bdc4d3;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 31.875px;
}
.newsletter .text {
  /* border: 1px solid red; */
  width: 49%;
  text-align: justify;
}
.newsletter p {
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 120%;
  text-align: justify;

  color: #c2c2c2;
}
.newsletter .text h2 {
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;

  color: #3a3a3a;
}

.newsletter form {
  text-align: right;
}
.newsletter input {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #294270;
}

.Footer {
  width: 100%;
  background: #e6edef;
  margin-bottom: 10px;
  margin-top: 100px;
}

.Footer .logoform {
  /* border: 1px solid red; */
  width: 30%;
}
.Footer .logoform .socials {
  padding: 10px;
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.Footer .logoform .socials img {
  width: 20%;

  /* border: 1px solid red   ; */
}
.Footer .logoform input {
  padding: 10px;
  background: #fefefe;
  border-radius: 30px;
  border: none;
  width: 80%;
}

.top {
  display: flex;

  width: 100%;

  padding: 10px;
  text-align: justify;
  align-items: center;

  justify-content: space-between;
}

.Footer .under {
  width: 100%;
  /* border: 1px solid red; */
}
.Footer .top h5 {
  width: 100%;
  /* border: 1px solid red; */
  /* font-size: 150%;
    font-weight: 800; */
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 120%;

  text-align: justify;

  color: #294270;
}
.Footer .top h6 {
  /* width: 100%; */
  /* border: 1px solid red; */
  /* font-size: 100%;
    font-weight: 800;
  */
  font-family: "Epilogue", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 120%;
  text-align: justify;
}

.Footer .under img {
  width: 100%;
}

.Footer .container {
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 10px;
  text-align: justify;
  width: 90%;
}
.Footer .Company {
  width: 25%;
  /* border: 1px solid red; */
}
.Footer .Products {
  width: 25%;
}
.Footer .footerbutton {
  display: flex;
  flex-direction: column-reverse;
  /* border: 1px solid red; */
  width: 15%;

  padding: 5px;
}
.Footer .footerbutton button {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #294270;
  border: none;
  margin-bottom: 10%;
  border-radius: 10px;
  cursor: pointer;
}
.Footer > .footerbutton > button > .white {
  padding: 10px;
  color: #294270;
  background-color: white;
  border: none;
  margin-bottom: 10%;
  border-radius: 10px;
  cursor: pointer;
}
